Towel-scenes-custom/*
!Towel-scenes-custom/cloth-blender_custom.py
!Towel-scenes-custom/draw_keypoints.py
!Towel-scenes-custom/split_dataset.py
!Towel-scenes-custom/README.md
!Towel-scenes-custom/textures/
!Towel-scenes-custom/textures/**
!Towel-scenes-custom/textures_table/
!Towel-scenes-custom/textures_table/**
!Towel-scenes-custom/docs/
!Towel-scenes-custom/docs/**
Extras/**
Keypoints-wrinkles-detection/*
!Keypoints-wrinkles-detection/keypoint_heatmap_single_en.py
!Keypoints-wrinkles-detection/keypoints-generator.py
!Keypoints-wrinkles-detection/new-dataset-merge.py
!Keypoints-wrinkles-detection/rename_merge.py
!Keypoints-wrinkles-detection/scene-generator.py
!Keypoints-wrinkles-detection/scene-wrinkle-training.py
!Keypoints-wrinkles-detection/wrinkles-generator.py