Towel-scenes-custom/*
!Towel-scenes-custom/cloth-blender_custom.py
!Towel-scenes-custom/draw_keypoints.py
!Towel-scenes-custom/split_dataset.py
!Towel-scenes-custom/README.md
!Towel-scenes-custom/textures/
!Towel-scenes-custom/textures/**
!Towel-scenes-custom/textures_table/
!Towel-scenes-custom/textures_table/**
!Towel-scenes-custom/docs/
!Towel-scenes-custom/docs/**
Extras/
test-keypoints-wrinkles/
test_dataset_keypoints_wrinkles/*
!test_dataset_keypoints_wrinkles/keypoint_heatmap_single_en.py
!test_dataset_keypoints_wrinkles/keypoints-generator.py
!test_dataset_keypoints_wrinkles/scene-generator.py
!test_dataset_keypoints_wrinkles/wrinkles-generator.py
!test_dataset_keypoints_wrinkles/README.md
.vscode/
simulation/
__pycache__/