Towel-scenes-custom/*
!Towel-scenes-custom/cloth-blender_custom.py
!Towel-scenes-custom/draw_keypoints.py
!Towel-scenes-custom/split_dataset.py
!Towel-scenes-custom/README.md
!Towel-scenes-custom/textures/
!Towel-scenes-custom/textures/**
!Towel-scenes-custom/textures_table/
!Towel-scenes-custom/textures_table/**
!Towel-scenes-custom/docs/
!Towel-scenes-custom/docs/**
Extras/**
test-keypoints-wrinkles/*
!test-keypoints-wrinkles/keypoint_heatmap_single_en.py
!test-keypoints-wrinkles/keypoints-generator.py
!test-keypoints-wrinkles/new-dataset-merge.py
!test-keypoints-wrinkles/rename_merge.py
!test-keypoints-wrinkles/scene-generator.py
!test-keypoints-wrinkles/scene-wrinkle-training.py
!test-keypoints-wrinkles/wrinkles-generator.py
!test-keypoints-wrinkles/rgbdcamera-pics.py
!test-keypoints-wrinkles/best-old.pt
!test-keypoints-wrinkles/best-new.pt